            /* GENERAL INFO */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

            /* MAIN */

.jumbo{
    width: 100vw;
    height: 100vh;

    background-color: black;
}

img{
    width: 230px;
    height: 125px;

    z-index: 0;
}

.flex-container{
    width: 81%;
    height: 100%;
    margin: auto;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    justify-content: space-between;
    align-content: center;
}

.flex-item{
    position: relative;
}

.img-name{
    position: absolute;
    z-index: 1;
    bottom: 5px;

    color: white;
    background-color: black;
    opacity: 0.7;
    padding: 2px 2px;
}

.icon-color{
    color: white;
}

.icons-top-right{
    position: absolute;
    display: inline;
    right: 1px;
    top: 1px;
}

.icon-border{
    padding: 5px;
    margin: 5px;
    border-radius: 3px;

    background-color: rgb(37, 37, 37);
    border: 1px rgb(70, 70, 70);
}

.bigger-icon{
    font-size: 3em;
    
}

#arrow-icon-1,
#arrow-icon-2{
    position: absolute;
    top: 47%;
}

#arrow-icon-1{
    left: 10px;
}

#arrow-icon-2{
    right: 10px;
}